<!-- <a class="back-lnk" href="#">Back to comic list</a> -->
<img class="back-lnk" alt="Back to comic list" src="assets/images/arrows-24px-glyph-1_bold-up.png" />

<h1> Comic Reader </h1>

<div id="comic-load-container">
</div>

<div id="comic-container">
   <!-- top nav bar -->
   <div id="top-navbar-container" />

   <!-- list of comic pages -->
   <div id="comic-page-collection" />

   <!-- current comic -->
   <div id="comic-page-container" />

   <!-- bottom nav bar -->
   <div id="bottom-navbar-container" />
</div>
