<img class="prev-page" src="assets/images/arrows-24px-glyph-1_bold-left.png" />

<div class="comic-nav-tools-container">
    <div class="comic-nav-magnifying-container">
        <input id="magnify-indicator" type="checkbox" <%= get( 'magnifyEnabled' ) ? 'CHECKED="CHECKED"' : "" %> />
        <img class="magnify-tool" src="assets/images/education-24px-glyph_grammar-check.png" alt="Magnifying Glass (M key)" />
    </div>

    <!-- using classes since nav bar id replicated -->
    <img class="btn-single-page-view" title="single page" src="assets/images/files-24px-glyph_single-paragraph.png" />
    <img class="btn-dual-page-view" title="dual page" src="assets/images/files-24px-glyph_book-08.png" />
    <img class="btn-fit-height" title="fit to height" src="assets/images/arrows-24px-glyph-1_enlarge-vertical.png" />
    <img class="btn-fit-width" title="fit to width" src="assets/images/arrows-24px-glyph-1_enlarge-horizontal.png" />
</div>

<img class="next-page" src="assets/images/arrows-24px-glyph-1_bold-right.png" />
